<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Registration Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
    	#boxfeel{
		padding-left:2%;
		padding-top:2%;
	    top:0px;
        height:78%;
        background:#f1f1f1;
        width:520px;
        border-style:solid;
        border-width: 1px;
        border-radius:20px;
        opacity: 0.8;
	}

		.err{
			color: red;
		}

	input::-webkit-outer-spin-button,
   	input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/* When mouse hovers over a particular input field then style changes */
  input[type=email]:hover,
  input[type=number]:hover,
  input[type=password]:hover,
  input[type=text]:hover,
  #SelectEvent:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  background: #EEE;
  }
    </style>

  </head>
  <body background="ep_naturalwhite.png" ng-app="myApp" ng-controller="validateCtrl" >

  	<h1 align="center">REGISTRATION FORM</h1><br>


  	<div>
  	<div class="col-sm-4">

  	</div>
  	<div class="col-sm-4" id="boxfeel">
	<!-- Registration form -->
  	  	<form name = "regForm" class="form-horizontal" ng-submit="submitForm(regForm.$valid)"  novalidate >
	<!-- Name is entered and Bootstrap styling is done for invalid input -->
  		<div class="form-group" ng-class="{ 'has-error' : (regForm.fname.$invalid && regForm.fname.$touched) ||  (regForm.lname.$invalid && regForm.lname.$touched)}">
    		<label class="control-label" for="name">Name:</label>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-5" ng-class="{ 'has-error' : regForm.fname.$invalid && regForm.fname.$touched }">
      			<input type="text" class="form-control" id="name" placeholder="First" name="fname" ng-pattern="/^[a-zA-Z]*$/" ng-model="f1.fname" required data-toggle="popover" data-trigger="hover" data-placement="auto top" data-content="Use only letters.">
    		</div>
    		<div class="col-sm-5" ng-class="{ 'has-error' : regForm.lname.$invalid && regForm.lname.$touched }">
      			<input type="text" class="form-control" id="lname" placeholder="Last" name="lname" ng-pattern="/^[a-zA-Z]*$/" ng-model="f1.lname" data-toggle="popover" data-trigger="hover" data-placement="auto top" data-content="Use only letters." required>
    		</div>
		<!-- Error Messages. -->
    		<span class="err" ng-show="(regForm.fname.$touched || regForm.lname.$touched) && (regForm.fname.$error.required || regForm.lname.$error.required)">The field is required. </span><br>
        	<br>
		<span class="err" ng-show="(regForm.fname.$error.pattern ||regForm.lname.$error.pattern)"> Only Alphabets allowed. </span>
  	</div>
<!-- Saarang ID is entered and Bootstrap styling is done for invalid input -->
  	<div class="form-group" ng-class="{ 'has-error' : regForm.sid.$invalid && regForm.sid.$touched }">
    		<label class="control-label" for="Saarangid">Saarang ID</label>
    	</div>
    	<div class="form-group" ng-class="{ 'has-error' : regForm.sid.$invalid && regForm.sid.$touched }">
    		<div class="col-sm-10">
      			<input type="text" name="sid" ng-model="f1.sid" class="form-control" id="Saarangid" placeholder="Enter Saarang id"  required>
      			<!-- Error Messages. -->
			<span ng-show="regForm.sid.$touched && regForm.sid.$invalid">
      			<span class="err" ng-show="regForm.sid.$error.required">
      				Saarang ID is required.
      			</span>
			</span>
    		</div>

  	</div>
<!-- Mobile No. is entered and Bootstrap styling is done for invalid input -->

  	<div class="form-group" ng-class="{ 'has-error' : regForm.mobno.$invalid && regForm.mobno.$touched }">
    		<label class="control-label" for="mobno">Mobile Number</label>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-10" ng-class="{ 'has-error' : regForm.mobno.$invalid && regForm.mobno.$touched }">
      			<input type="number" name="mobno" ng-model="f1.mobno" class="form-control" id="mobno" ng-minlength="10" ng-maxlength="10" placeholder="XXXXXXXXXX" ng-required="true" data-toggle="popover" data-trigger="hover" data-content="Enter a 10 digit Mobile No.">
      			<!-- Error Messages. -->
			<span class="err" ng-show="(regForm.mobno.$error.required && regForm.mobno.$touched)" >Field should not be blank.</span>
            		<span class="err" ng-show="regForm.mobno.$error.number"> Only Numeric Digits allowed. </span>
          		<span class="err" ng-show="((regForm.mobno.$error.minlength || regForm.mobno.$error.maxlength) && regForm.mobno.$dirty)"> Mobile no. should be of 10 digits </span>

    		</div>
  	</div>
<!-- Email is entered and Bootstrap styling is done for invalid input -->
  	<div class="form-group" ng-class="{ 'has-error' : regForm.email.$invalid && regForm.email.$touched }">
    		<label class="control-label" for="email">Enter Email Id</label>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-10" ng-class="{ 'has-error' : regForm.email.$invalid && regForm.email.$touched }">
      			<input type="Email" name="email" ng-model="f1.email" class="form-control" id="email" placeholder="someone@example.com" ng-required="true"  data-toggle="popover" data-trigger="hover" data-content="We will use this email id for sending you notifications about the current events." >
      			<!--<span class="err" ng-show="regForm.email.$dirty && regForm.email.$invalid"> -->
  				<!-- Error Messages. -->
				<span class="err" ng-show="regForm.email.$error.required && regForm.email.$touched">Email is required.</span>
  				<span class="err" ng-show="regForm.email.$error.email">Invalid email address.</span>
  			<!--</span>-->
    		</div>
  	</div>

<!--  Selection of events and Bootstrap styling is done for invalid input -->
  	<div class="form-group" ng-class="{ 'has-error' : regForm.sevent.$invalid && regForm.sevent.$touched }">
  		<label class="control-label" for="SelectEvent">Please Select desired Event</label>
  	</div>
  	<div class="form-group"ng-class="{ 'has-error' : regForm.sevent.$invalid && regForm.sevent.$touched }">
  		<select name="sevent" ng-model="f1.sevent" class="form-control" id="SelectEvent" required>
  			<option>Events</option>
      			<option>Treasure Hunt</option>
      			<option>Laser Tag</option>
      			<option>Tarang</option>
      			<option>JAM</option>
      			<option>Beat Box</option>
      			<option>Panache</option>
      		</select>
	<!-- Error message -->
	<span class="err" ng-show="regForm.sevent.$error.required && regForm.sevent.$touched">Select an Event</span>

  	</div>


<!-- Submit button is disabled till all the input fields are filled seccessfully. -->
  	<div class="form-group">
   		<div class="col-sm-offset-2 col-sm-10">
      			<button type="submit" class="btn btn-primary" ng-disabled="regForm.$invalid" ng-click="resetForm()"  >Submit</button>
    		</div>
 	</div>




  	</form>
  	</div>
  	</div>

  	<script>
      var app = angular.module('myApp', []);
      app.controller('validateCtrl', function($scope,$sce) {
      /*$scope.user = '';
      $scope.email = ''; */
	$scope.f1={
        	fname: "",
        	lname: "",
        	sid: "",
        	mobno: "",
        	email: "",
		sevent: ""
      };
	var tf1=angular.copy($scope.f1);      
		      
      // function to submit the form after all validation has occurred
      $scope.submitForm = function(isValid) {

    // check to make sure the form is completely valid
      if (isValid) {
      alert('Form submitted successfully!!');
      regForm.$setPristine();

    }


  }; 

 /*  $scope.resetForm = function(){
      $scope.f1=angular.copy(tf1);
      $scope.regForm.$setPristine();

    }; */
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
});

</script>

  </body>
  </html>
