<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <head>
    <title>Sign UP</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <style>
    	#boxfeel{
		padding-left:2%;
		padding-top:2%;
	    top:0px;
        height:78%;
        background:#f1f1f1;
        width:520px;
        border-style:solid;
        border-width: 1px;
        border-radius:20px;
	}

		.err{
			color: red;
		}
    </style>

  </head>
  <body>
  	
  	<h1 align="center">REGISTRATION FORM</h1><br>
  	
  	
  	<div>
  	<div class="col-sm-4">
  		
  	</div>
  	<div class="col-sm-4" id="boxfeel">
  	  	<form ng-app="myApp" ng-controller="validateCtrl" name = "regForm" class="form-horizontal action="/action_page_post.php" method="post" >
  		
  		<div class="form-group">
    		<label class="control-label" for="name">Name:</label>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-5"> 
      			<input type="text" class="form-control" id="name" placeholder="First" name="fname" ng-model="fname" required>
    		</div>
    		<div class="col-sm-5"> 
      			<input type="text" class="form-control" id="lname" placeholder="Last" name="lname" ng-model="lname" required>
    		</div>
    		<span class="err" ng-show="(regForm.fname.$touched || regForm.lname.$touched) && (regForm.fname.$invalid || regForm.lname.$invalid)">The field is required. </span>
  		</div>

  		<div class="form-group">
    		<label class="control-label" for="Saarangid">Saarang ID</label>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-10"> 
      			<input type="text" name="sid" ng-model="sid" class="form-control" id="Saarangid" placeholder="Enter Saarang id"  required>
      			<span ng-show="regForm.sid.$touched && regForm.sid.$invalid">
      			<span class="err" ng-show="regForm.sid.$error.required">
      				Saarang ID is required.
      			</span>

      			</span>
    		</div>
    	
  		</div>

  		
  		<div class="form-group">
    		<label class="control-label" for="mobno">Mobile Number</label>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-10"> 
      			<input type="text" name="mobno" ng-model="mobno" class="form-control" id="mobno" ng-minlength="10" placeholder="XXXXXXXXXX">
      		<span class="err" ng-if="!regForm.mobno.$valid ">Enter 10 digit no.</span>

    		</div>
  		</div>

  		<div class="form-group">
    		<label class="control-label" for="email">Enter Email Id</label>
    	</div>
    	<div class="form-group">
    		<div class="col-sm-10"> 
      			<input type="Email" name="email" ng-model="email" class="form-control" id="email" placeholder="Enter Email" required>
      			<span class="err" ng-show="regForm.email.$dirty && regForm.email.$invalid">
  				<span ng-show="regForm.email.$error.required">Email is required.</span>
  				<span ng-show="regForm.email.$error.email">Invalid email address.</span>
  				</span>
    		</div>
  		</div>


  		<div class="form-group">
  		<label class="control-label" for="SelectEvent">Please Select desired Event</label>
  		</div>
  		<div class="form-group">
  			<select name="sevent" ng-model="sevent" class="form-control" id="SelectEvent">
  				<option>Events</option>
      			<option>Treasure Hunt</option>
      			<option>Laser Tag</option>
      			<option>Tarang</option>
      			<option>JAM</option>
      			<option>Beat Box</option>
      			<option>Panache</option>
      		</select>

      		<span class="err">
  		<label ng-show="submitted&&regForm.eve.$error.required">&nbsp;Please select an event</label>
  		</span>
  		</div>

  

  		<div class="form-group"> 
   			<div class="col-sm-offset-2 col-sm-10">
      			<button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
    		</div>
 		</div>
 		 <button class="btn btn-success" ng-show="regForm.$valid&&submitted" disabled="true">Submitted Succcesfully</button>

  	

  	</form>
  	</div>
  	</div>

  	<script>
var app = angular.module('myApp', []);
app.controller('validateCtrl', function($scope) {
    $scope.user = '';
    $scope.email = '';
});
</script>
  
  </body>
  </html>
